* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}


/*--------------------------- Flex universal ----------------------------*/


.container {
    display: flex;
}


/*--------------------------- navbar/logo -----------------------------*/


nav {
    border-bottom: 1px solid seashell;
    min-height: 69px;
    position:sticky;
    top: 0;
    background-color: black;
    opacity: 75%
} 

.nav-container {
    justify-content: space-between;
    align-items: center;
}


#nav-link-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

#logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.nav-link {
    margin-right: 15px;
    color: seashell;
    padding: 5px;    
}

.nav-link:hover {
    color: white;
    text-decoration: underline overline;
}


/*--------------------------header section----------------------------*/


.hero {
    background: no-repeat url("resources/images/img-mission-background.webp");
    background-position: center;
    height: 700px;
    width: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission {
    background-color: black;
    flex-direction:column;
    min-height: 100px;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding: 10px 0;
}


/*------------------------ Tea of the month ----------------------*/


.tea-of-month {
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.month-text {
    max-width: 1000px;
    text-align: center;
    margin-bottom: 10px;
}

.month-tea {
    max-width: 1000px;
    flex-flow: wrap;
    justify-content: center;    
}
.item-month {
    flex-direction: column;
    text-align: center;
}
.item-month img {
    height: 200px;
    width: 300px;
    margin: 10px;
}


/*-------------------- Locations Section --------------------*/


.background-location {
    background-image: url("resources/images/img-locations-background.webp");
    max-width: 1200px;
    min-height: 500px;
    background-position: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.location {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-flow:wrap;
    margin-top: 15px;
}

.address-card {
    flex-direction: column;
    margin-right: 40px;
    background-color: black;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.address-card>* {
    margin-top: 10px;
}


/*------------------ Footer ------------------*/


.contact-card {
    height: 200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.copyright {
    margin-left: 20px;
}

.mac {
    color: seashell;
}

.mac:hover{    
    color: rgb(42, 182, 218);
}


/*------------------ Media Queries ------------------*/


@media screen and (max-width: 1040px){
   

    .address-card {
        width: 250px;
        height: 250px;
        text-align: center;
        margin: 5px;
    }
    
}

@media screen and (max-width: 600px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-container a {
        font-size: 18px;
        margin-right: 10px;
    }
}
